vrrp_script chk_haproxy {
        script "killall -0 haproxy"
        interval 1
        weight -20
        debug
        fall 2
        rise 2
}

vrrp_instance {{ patroni_node_name }}_patroni {
        interface {{ keepalived_interface }}
        state BACKUP
        virtual_router_id {{ keepalived_routerid }}
        priority {{ keepalived_priority }}
        authentication {
            auth_type PASS
            auth_pass Ch@ng3MeP13@s3
        }
        track_script {
		chk_haproxy weight 20
        }
        virtual_ipaddress {
                {{ keepalived_vip }}/32 dev {{ keepalived_interface }}
        }

}
