max_connections = '{{ pgsql_maxconn }}'
shared_buffers = 512MB			# min 128kB
work_mem = 10485kB			# min 64kB
maintenance_work_mem = 128MB		# min 1MB
dynamic_shared_memory_type = posix	# the default is the first option
wal_buffers = 16MB			# min 32kB, -1 sets based on shared_buffers
max_wal_size = 2GB
min_wal_size = 1GB
checkpoint_completion_target = 0.7	# checkpoint target duration, 0.0 - 1.0
effective_cache_size = 1536GB
default_statistics_target = 100	# range 1-10000
log_destination = 'stderr'		# Valid values are combinations of
logging_collector = on			# Enable capturing of stderr and csvlog
log_directory = 'pg_log'		# directory where log files are written,
log_filename = 'postgresql-%a.log'	# log file name pattern,
log_truncate_on_rotation = on		# If on, an existing log file with the
log_rotation_age = 1d			# Automatic rotation of logfiles will
log_rotation_size = 0			# Automatic rotation of logfiles will
log_min_duration_statement = 500	# -1 is disabled, 0 logs all statements
log_line_prefix = '%x %v < %m > '			# special values:
log_lock_waits = off			# log lock waits >= deadlock_timeout
log_statement = 'none'			# none, ddl, mod, all
log_timezone = '{{ timezone }}'
datestyle = 'iso, mdy'
timezone = '{{ timezone }}'
lc_messages = 'en_US.UTF-8'			# locale for system error message
lc_monetary = 'en_US.UTF-8'			# locale for monetary formatting
lc_numeric = 'en_US.UTF-8'			# locale for number formatting
lc_time = 'en_US.UTF-8'				# locale for time formatting
default_text_search_config = 'pg_catalog.english'